@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-header {
  /* background-color: #ADD8E6; */
  height: 150px;
  padding: 20px;
  color: white;
  margin-bottom: -5px;
}

.NavBar {
  /* background-color: #ADD8E6; */
  height: 40px;
  padding: 0px 20px 20px 20px;
  color: white;
}

.App-title {
  color: white;
  font-size: xx-large;
}

.App-intro {
  font-size: xx-large;
  color: white;
}

img#selfie {
  width: 400px;
  height: 400px
}

img {
  width:100%;
  max-width:400px;
}

.login-form {
  max-width: 300px;
  align: center;
  display: inline-block;
}

.sign-up-form {
  max-width: 300px;
  align: center;
  display: inline-block;
}

.center {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
}

.first-column {
  order: 1;
  flex-grow: 2;
}

.second-column {
  order: 2;
  flex-grow: 2;
}

.third-column {
  order: 3;
  flex-grow: 1;
}

.center-text {
  text-align: center;
  padding: 40px;
}

.dog-image {
  border-radius: 1%;
}

.go-to:hover {
  color: blue ;
}

.go-to {
  color: #1890ff;
}

.text-on-bg {
  color: #fff;
}

#selfie-station {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 800px;
}

#mod-list {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 95px;
}

#orderedMessages {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 95px;
}

#user-list {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 300px;
}

#video {
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
  border-radius: 1%;
}

#selfie {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  border-radius: 1%;
}

#shared-selfie {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  border-radius: 1%;
}

#welcome-form {
  padding-top:50px;
}

body {
  background-color: #444D54;
  background-size: round auto;
  background-position: center center;
  background-image: url("./mist-trees.jpg");
  background-repeat:   no-repeat;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
